body {
    background: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
 
    position: relative;
    font-family:  Roboto;
    margin:0;
   }

   

   /*Описание HEADER ссылок на соцсети*/
  header a {
       
  text-decoration: none;
  color: white;
  justify-content: space-between;
  padding-right:24px;
  }
  
  header {
    max-width:1139px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:23px 24px;
  }

  .top-menu img{
   vertical-align: middle;
   padding-bottom:5px;
   }
 
 
  .sign-form {
    width: 365px;
    min-height: 470px;
    background: #fff;
    margin: 99px auto 68px auto;
    border-radius: 3px;
  }

  .social-icons {
    width: 324px;
    height: 150px;
    text-align:center;

    background: linear-gradient(90deg, #bc478f 0%, #7b1fa2 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: auto;
    position: relative;
    top: -39px;
    padding:33px;
    box-sizing: border-box;
  }

  .social-icons h1{
   color: #FFFFFF;  
   font-size:20px;  
   margin:0 0 36px 0;
  }

  

h2  {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
    text-align:center;
    margin:20px 0 0 0;
    }


#sign-up-container {
   display: block;
   margin-top:33px;
    }

#sign-up-container .input-field {
   margin: 25px 0 25px 25px;
}

.input-field input {
  width: 269px;
  padding-bottom: 5px;
  padding-top:8px;
  outline: none;
  border:none;
  border-bottom:1px solid #D2D2D2;
  padding-bottom: 7px;
}

.input-field input:focus {
  border-bottom:1px solid #9C27B0;
}


.input-field img {
  vertical-align: middle;
  margin-right:15px;
}

.dropdown{
display:none;
}

.btn-get-started {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #9C27B0;
  border:none;
  background-color: transparent;
}


.input-get-started {
  margin-bottom: 29px;
  margin-top:43px;
  text-align:center;
}


footer {
  margin-top: auto;
  max-width: 1139px;
  display: flex;
  justify-content: space-between;
  padding:23px 24px; 
}


.footer-menu a {
  font-size: 12px;
  padding-right: 34px;
  color: #FFFFFF;
  text-decoration: none;
}    


  @media only screen and (max-width: 786px) {
  header {
    background: rgba(0, 0, 0, 0.4);
  }   


  
  .social-icons {
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;     
  }

  footer{
  flex-direction: column;
  }
  
  .footer-menu {
    padding:31px;
  }

  .made-by{
  align-self: center;
}

} 


@media only screen and (max-width: 560px) {

.dropdown {
  display: initial;
 }

 nav.top-menu {
  display: none;
  position: absolute;
  top:6em;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  flex-direction: row;
  text-align: right;
  padding:0.5em;
  font-size: 75%;
 }

 
 
 .dropdown:focus + nav{
  display: flex;
 }
}
@media only screen and (max-width: 476px) {
  nav.footer-menu {
    display: flex;
    flex-direction: row;
    justify-items: left;
  
    
}
}

  @media only screen and (max-width: 400px) {
 .input-field input {
    width:200px;
  }
  
  footer {
   text-align: center;
  }

  .dropdown:focus + nav {
   display: flex;
  }
}

